# ======================
# Node / NPM
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# ======================
# Next.js build output
# ======================
.next/
out/

# ======================
# Sistema operacional
# ======================
.DS_Store
Thumbs.db

# ======================
# Ambientes / Config local
# ======================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ======================
# Editor / ferramentas
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# Logs
# ======================
*.log
logs/
