/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

/* alguns utilitários rápidos */
.btn {
  @apply px-4 py-2 rounded-lg;
}
